<h2>Coordonnées</h2>
<address>
    <strong>Dywee</strong><br>
    Rue de stimbert, 25<br>
    1480 Tubize<br>
    <abbr title="Phone">P:</abbr> (+32) 0478 69 41 64
    <a href="mailto:contact@dywee.com">contact@dywee.com</a>
</address>