{% extends '@DyweeContactBundle/layout.html.twig' %}

{% block title %}
    Contactez-nous {{ parent() }}
{% endblock %}

{% block body %}
    {% if form is defined %}

        {{ form_start(form) }}

        {{ form_rest(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn bt-success btn-block"><i class="fa fa-paper-plane-o"></i> Envoyer
                </button>
            </div>
        </div>

        {{ form_end(form) }}

    {% endif %}
{% endblock %}
